CONTAINER_REGISTRY = 'registry.test'
CONTAINER_REGISTRY_USER = '...'
CONTAINER_REGISTRY_PASSWORD = '...'

TLS_RANCHER_INGRESS_KEY = <<~EOF
	-----BEGIN PRIVATE KEY-----
	...
	-----END PRIVATE KEY-----
EOF
TLS_RANCHER_INGRESS_CRT = <<~EOF
	-----BEGIN CERTIFICATE-----
	...
	-----END CERTIFICATE-----
EOF
TLS_CA_CRT = <<~EOF
	-----BEGIN CERTIFICATE-----
	...
	-----END CERTIFICATE-----
EOF

SEALED_SECRETS_KEY = <<~EOF
	-----BEGIN RSA PRIVATE KEY-----
	...
	-----END RSA PRIVATE KEY-----
EOF
SEALED_SECRETS_CRT = <<~EOF
	-----BEGIN CERTIFICATE-----
	...
	-----END CERTIFICATE-----
EOF

